---
---

{%- if page.comments != false -%}

#comment-section

javascript:
  initComments({
    node: document.getElementById("comment-section"),
    defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
    serverName: "cactus.chat",
    siteName: "{{ site.disqus.shortname }}",
    commentSectionId: "{{ page.url }}",
    guestPostingEnabled: false
  })

noscript
  > Please enable JavaScript to view the
  a href="https://cactus.chat" rel="nofollow" comments powered by matrix.org.

{%- endif -%}
