@media #{$small-and-down} {
	.index-row {
		grid-template-columns: 1fr;
	}

	.post-main {
		padding: 0;
		border: none;
		color: #222;
		background-color: #eee;
	}

	$code-block-width: 85vw;

	pre {
		max-width: $code-block-width;
	}

	.code-file > code.code-file-name {
		max-width: $code-block-width;
	}
}
