@use "containers";

@media #{containers.$small-and-down} {
	.index-row {
		grid-template-columns: 1fr;
	}

	.post-main {
		margin-left: calc(50% - 50vw);
		width: calc(100vw - (2 * 20px));
		border-radius: 0;
		border-left: none;
		border-right: none;
	}

	$code-block-width: 85vw;

	pre {
		max-width: $code-block-width;
	}

	.code-file > code.code-file-name {
		max-width: $code-block-width;
	}
}
