.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width : 601px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width : 993px) {
  .container {
    width: 70%;
  }
}
@media only screen and (max-width : 600px) {
  .index-row {
    grid-template-columns: 1fr;
  }
  .post-main {
    margin-left: calc(50% - 50vw);
    width: calc(100vw - 40px);
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
  pre {
    max-width: 85vw;
  }
  .code-file > code.code-file-name {
    max-width: 85vw;
  }
}
pre {
  line-height: 125%;
}

td.linenos .normal {
  color: #93a1a1;
  background-color: #eee8d5;
  padding-left: 5px;
  padding-right: 5px;
}

span.linenos {
  color: #93a1a1;
  background-color: #eee8d5;
  padding-left: 5px;
  padding-right: 5px;
}

td.linenos .special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}

span.linenos.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}

.highlight .hll {
  background-color: #eee8d5;
}

.highlight {
  background: #fdf6e3;
  color: #657b83;
}

.highlight .c {
  color: #93a1a1;
  font-style: italic;
} /* Comment */
.highlight .err {
  color: #657b83;
  background-color: #dc322f;
} /* Error */
.highlight .esc {
  color: #657b83;
} /* Escape */
.highlight .g {
  color: #657b83;
} /* Generic */
.highlight .k {
  color: #859900;
} /* Keyword */
.highlight .l {
  color: #657b83;
} /* Literal */
.highlight .n {
  color: #657b83;
} /* Name */
.highlight .o {
  color: #93a1a1;
} /* Operator */
.highlight .x {
  color: #657b83;
} /* Other */
.highlight .p {
  color: #657b83;
} /* Punctuation */
.highlight .ch {
  color: #93a1a1;
  font-style: italic;
} /* Comment.Hashbang */
.highlight .cm {
  color: #93a1a1;
  font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
  color: #d33682;
} /* Comment.Preproc */
.highlight .cpf {
  color: #93a1a1;
} /* Comment.PreprocFile */
.highlight .c1 {
  color: #93a1a1;
  font-style: italic;
} /* Comment.Single */
.highlight .cs {
  color: #93a1a1;
  font-style: italic;
} /* Comment.Special */
.highlight .gd {
  color: #dc322f;
} /* Generic.Deleted */
.highlight .ge {
  color: #657b83;
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: #dc322f;
} /* Generic.Error */
.highlight .gh {
  color: #657b83;
  font-weight: bold;
} /* Generic.Heading */
.highlight .gi {
  color: #859900;
} /* Generic.Inserted */
.highlight .go {
  color: #657b83;
} /* Generic.Output */
.highlight .gp {
  color: #268bd2;
  font-weight: bold;
} /* Generic.Prompt */
.highlight .gs {
  color: #657b83;
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: #657b83;
  text-decoration: underline;
} /* Generic.Subheading */
.highlight .gt {
  color: #268bd2;
} /* Generic.Traceback */
.highlight .kc {
  color: #2aa198;
} /* Keyword.Constant */
.highlight .kd {
  color: #2aa198;
} /* Keyword.Declaration */
.highlight .kn {
  color: #cb4b16;
} /* Keyword.Namespace */
.highlight .kp {
  color: #859900;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #859900;
} /* Keyword.Reserved */
.highlight .kt {
  color: #b58900;
} /* Keyword.Type */
.highlight .ld {
  color: #657b83;
} /* Literal.Date */
.highlight .m {
  color: #2aa198;
} /* Literal.Number */
.highlight .s {
  color: #2aa198;
} /* Literal.String */
.highlight .na {
  color: #657b83;
} /* Name.Attribute */
.highlight .nb {
  color: #268bd2;
} /* Name.Builtin */
.highlight .nc {
  color: #268bd2;
} /* Name.Class */
.highlight .no {
  color: #268bd2;
} /* Name.Constant */
.highlight .nd {
  color: #268bd2;
} /* Name.Decorator */
.highlight .ni {
  color: #268bd2;
} /* Name.Entity */
.highlight .ne {
  color: #268bd2;
} /* Name.Exception */
.highlight .nf {
  color: #268bd2;
} /* Name.Function */
.highlight .nl {
  color: #268bd2;
} /* Name.Label */
.highlight .nn {
  color: #268bd2;
} /* Name.Namespace */
.highlight .nx {
  color: #657b83;
} /* Name.Other */
.highlight .py {
  color: #657b83;
} /* Name.Property */
.highlight .nt {
  color: #268bd2;
} /* Name.Tag */
.highlight .nv {
  color: #268bd2;
} /* Name.Variable */
.highlight .ow {
  color: #859900;
} /* Operator.Word */
.highlight .pm {
  color: #657b83;
} /* Punctuation.Marker */
.highlight .w {
  color: #657b83;
} /* Text.Whitespace */
.highlight .mb {
  color: #2aa198;
} /* Literal.Number.Bin */
.highlight .mf {
  color: #2aa198;
} /* Literal.Number.Float */
.highlight .mh {
  color: #2aa198;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #2aa198;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #2aa198;
} /* Literal.Number.Oct */
.highlight .sa {
  color: #2aa198;
} /* Literal.String.Affix */
.highlight .sb {
  color: #2aa198;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #2aa198;
} /* Literal.String.Char */
.highlight .dl {
  color: #2aa198;
} /* Literal.String.Delimiter */
.highlight .sd {
  color: #93a1a1;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #2aa198;
} /* Literal.String.Double */
.highlight .se {
  color: #2aa198;
} /* Literal.String.Escape */
.highlight .sh {
  color: #2aa198;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #2aa198;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #2aa198;
} /* Literal.String.Other */
.highlight .sr {
  color: #cb4b16;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #2aa198;
} /* Literal.String.Single */
.highlight .ss {
  color: #2aa198;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #268bd2;
} /* Name.Builtin.Pseudo */
.highlight .fm {
  color: #268bd2;
} /* Name.Function.Magic */
.highlight .vc {
  color: #268bd2;
} /* Name.Variable.Class */
.highlight .vg {
  color: #268bd2;
} /* Name.Variable.Global */
.highlight .vi {
  color: #268bd2;
} /* Name.Variable.Instance */
.highlight .vm {
  color: #268bd2;
} /* Name.Variable.Magic */
.highlight .il {
  color: #2aa198;
} /* Literal.Number.Integer.Long */
main {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Serif 4", "Source Serif Pro", Times, "Times New Roman", serif;
  width: auto;
  font-size: 14pt;
  background-color: #EEE;
}

p, li {
  line-height: 1.5;
}

li {
  margin-bottom: 0.5rem;
}

.index-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  column-gap: 10%;
}

.vcenter-col {
  display: grid;
  min-height: 100%;
  grid-template-rows: 1fr auto;
}

.vcenter-item {
  align-self: center;
}

.col-footer {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.page-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.page-main {
  height: fit-content;
}

.index a, .site-footer a {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 36pt;
  margin-bottom: 0;
}

h1.name {
  line-height: 44pt;
  width: fit-content;
  display: inline-block;
  padding-bottom: 0.8rem;
  border-bottom: 2px solid gray;
  margin-top: 0.75rem;
  margin-bottom: 0rem;
}

span.divider {
  font-weight: 600;
}

.sidebar-link-entry {
  width: fit-content;
  transition: 0.1s;
}

.sidebar-link-entry a {
  color: black;
  text-decoration: none;
}

.sidebar-link-entry:hover {
  margin-left: 0.5rem;
}

.sidebar-link-pre {
  margin-right: 1rem;
}

.sidebar-link {
  margin: 1rem 0;
  border-bottom: solid 2px gray;
  vertical-align: middle;
}

.return-link-entry {
  width: fit-content;
  transition: 0.1s;
}

.return-link-entry a {
  color: black;
  text-decoration: none;
}

.return-link-entry:hover {
  margin-left: -0.5rem;
}

.return-link-pre {
  margin-right: 1rem;
}

.return-link {
  margin: 1rem 0;
  border-bottom: solid 2px gray;
  vertical-align: middle;
}

span.pdf-badge {
  display: inline-block;
  font-family: "Source Sans 3", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 7pt;
  margin-left: 0.4rem;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 0 2px;
  vertical-align: 1px;
  color: #333333;
}

img.headshot {
  width: 10rem;
  border-radius: 5rem;
  border: 1px solid #ccc;
  margin-top: 2rem;
}

a.post-link {
  color: black;
  font-weight: 600;
}

.post-summary-header {
  font-size: 14pt;
  font-weight: normal;
  margin: 0;
}

article.post-summary {
  margin: 15px 0 30px 0;
}

p.post-tag-list {
  margin: 4px 0;
  font-size: 12pt;
}

p.post-license {
  margin: 0;
  font-size: 12pt;
}

h1.post-title {
  font-size: 30pt;
  margin-bottom: 0px;
}

.post-header {
  max-width: 40em;
  margin: auto;
  color: #222;
}

.post-comments {
  margin-top: 15px;
  max-width: 40em;
  margin: auto;
  color: #222;
}

.post-main {
  max-width: 40em;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #282828;
  background-color: #F8F8F8;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
}

.post-preview {
  max-width: none;
  margin: 7px 0 0 0;
}

.post-main p:first-child {
  margin-top: 0;
}

.post-main p:last-child {
  margin-bottom: 0;
}

.grey {
  color: grey;
}

code, pre, :is(code, pre) * {
  font-family: "Source Code Pro", Consolas, monospace;
  font-size: 11.8pt;
}

pre, :not(pre) > code {
  border-radius: 0.2em;
  border: 1px solid #BBB;
}

pre {
  padding: 0.5em;
  line-height: 135%;
  overflow: auto;
}

:not(pre) > code {
  background-color: #E4E4E4;
  padding: 0 0.18em;
  margin: 0 0.05em;
}

.code-file > code.code-file-name {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0.35em 0.5em;
  display: block;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px dashed #AAA;
}

div.highlight {
  background: inherit;
  color: inherit;
}

.code-file pre.highlight {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

/*# sourceMappingURL=style.css.map */